.div-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.div-2 {
    column-gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

