.div-1 {
    width: 280px;
}

.image-1 {
    width: 40px;
    height: 32px;
}

.list-2 {
    margin-left: 32px;
}

.hyperlink-2 {
    padding-bottom: 0.5rem;
}

.hyperlink-3 {
    padding-bottom: 0.5rem;
}

.hyperlink-4 {
    padding-bottom: 0.5rem;
}

.list-3 {
    margin-left: 32px;
}

.hyperlink-5 {
    padding-bottom: 0.5rem;
}

.hyperlink-6 {
    padding-bottom: 0.5rem;
}

.hyperlink-7 {
    padding-bottom: 0.5rem;
}

.hyperlink-8 {
    padding-bottom: 0.5rem;
}

.list-4 {
    margin-left: 32px;
}

.hyperlink-9 {
    padding-bottom: 0.5rem;
}

.hyperlink-1-0 {
    padding-bottom: 0.5rem;
}

.hyperlink-1-1 {
    padding-bottom: 0.5rem;
}

.hyperlink-1-2 {
    padding-bottom: 0.5rem;
}

.list-6 {
    margin-left: 32px;
}

.hyperlink-1-3 {
    padding-bottom: 0.5rem;
}

.hyperlink-1-4 {
    padding-bottom: 0.5rem;
}

.hyperlink-1-5 {
    padding-bottom: 0.5rem;
}

