.card-1 {
    background-image: url("https://unsplash.com/photos/vhSz50AaFAs/download?force=true&w=320");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-2 {
    background-image: url("https://unsplash.com/photos/b8nnppKBy4w/download?force=true&w=320");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://unsplash.com/photos/7hS1iOwaWv0/download?force=true&w=320");
}

